Repository g0tchi/soleflip: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier

eslint:
  name: ESLint (TypeScript)
  entry: bash -c 'cd gui && npx eslint --fix'
  language: system
  pass_filenames: false

prettier:
  name: Prettier (Frontend)
  entry: bash -c 'cd gui && npx prettier --write'
  language: system
  pass_filenames: false

Add CI/CD pipeline validation scripts
  scripts/ci/quick_validate.py
  scripts/ci/validate_pipeline.bat
  scripts/ci/validate_pipeline.ps1
  scripts/ci/validate_pipeline.py
Due: none

Fix CI/CD pipeline encryption key
  .github/workflows/ci.yml
Due: none

Fix CI/CD pipeline issues
  .claude/settings.local.json
  migrations/versions/2025_08_31_1016_930405202c44_merge_multiple_migration_heads.py
  scripts/ci/quick_validate.py
  scripts/ci/validate_pipeline.py
  scripts/database/migrate_with_backup.py
  scripts/deployment/check_secrets.py
  scripts/deployment/generate_secrets.py
  shared/api/responses.py
  shared/auth/password_hasher.py
Due: prettier

Fix critical GUI blocking bugs
  .claude/settings.local.json
  domains/integration/repositories/import_repository.py
  domains/inventory/repositories/base_repository.py
  domains/inventory/repositories/inventory_repository.py
  domains/inventory/repositories/product_repository.py
  main.py
  shared/repositories/base_repository.py
Due: prettier

Improve dashboard with real data and localization
  .claude/settings.local.json
  gui/src-tauri/tauri.conf.json
  gui/src/components/Layout.tsx
  gui/src/pages/ModernDashboard.tsx
Due: eslint, prettier

Improve GUI responsiveness and data integration
  gui/src/App.tsx
  gui/src/components/Layout.tsx
  gui/src/pages/ModernAnalytics.tsx
  gui/src/pages/ModernDashboard.tsx
  gui/src/pages/ModernDataManagement.tsx
  gui/src/pages/ModernInventory.tsx
  gui/src/pages/ModernSettings.tsx
  gui/src/pages/PricingForecast.tsx
Due: eslint, prettier

Integrate real StockX API and improve inventory table UX
  domains/inventory/api/router.py
  gui/src-tauri/src/api.rs
  gui/src-tauri/src/commands.rs
  gui/src-tauri/src/main.rs
  gui/src/pages/ModernInventory.tsx
Due: eslint, prettier

Fix inventory service bugs and enhance UI styling
  domains/inventory/services/inventory_service.py
  gui/src/styles/globals.css
Due: prettier

Refactor GUI architecture and standardize component design
  gui/src/App.tsx
  gui/src/components/Layout.tsx
  gui/src/contexts/ThemeContext.tsx
  gui/src/main.tsx
  gui/src/pages/Analytics.tsx
  gui/src/pages/Dashboard.tsx
  gui/src/pages/DataManagement.tsx
  gui/src/pages/Database.tsx
  gui/src/pages/Import.tsx
  gui/src/pages/Inventory.tsx
  gui/src/pages/ModernAnalytics.tsx
  gui/src/pages/ModernDashboard.tsx
  gui/src/pages/ModernInventory.tsx
  gui/src/pages/ModernSettings.tsx
  gui/src/pages/PricingForecast.tsx
  gui/src/pages/Settings.tsx
Due: eslint, prettier

Clean up obsolete GUI components
  gui/src/components/RetroTitle.tsx
  gui/src/components/StatusBar.tsx
Due: eslint, prettier

Complete GUI refactoring and permissions update
  .claude/settings.local.json
  add_test_inventory.py
  domains/integration/services/stockx_service.py
  domains/inventory/api/router_backup.py
  domains/inventory/api/router_temp.py
  domains/inventory/services/inventory_service.py
  gui/src-tauri/src/api.rs
  gui/src-tauri/src/commands.rs
  gui/src-tauri/src/main.rs
  shared/database/connection.py
  shared/database/models.py
  test_stockx_api.py
Due: prettier

Add Shopify readiness proof-of-concept
  data/samples/awin_sales_report.csv
  docs/POC_GUIDE.md
  docs/generated/db_schema_analysis.md
  docs/shopify_mapping.md
  domains/integration/services/__init__.py
  domains/integration/services/awin_connector.py
  scripts/analysis/schema_analyzer.py
  scripts/analysis/shopify_mapper.py
Due: prettier

Implement inventory edit modal and optimize performance
  domains/integration/services/stockx_service.py
  domains/inventory/api/router.py
  domains/inventory/services/inventory_service.py
  gui/src/pages/Inventory.tsx
Due: eslint, prettier

Implement Phase 2 Performance Optimizations - 905x Speed Improvement
  .claude/settings.local.json
  create_performance_indexes.py
  domains/dashboard/api/router.py
  domains/inventory/services/inventory_service.py
  shared/caching/__init__.py
  shared/caching/dashboard_cache.py
Due: prettier

Complete Phase 3: Advanced API bandwidth optimizations
  domains/inventory/api/router.py
  main.py
  shared/middleware/__init__.py
  shared/middleware/compression.py
  shared/middleware/etag.py
  shared/streaming/__init__.py
  shared/streaming/response.py
Due: none

Implement comprehensive business automation suite with StockX integration
  domains/inventory/services/dead_stock_service.py
  domains/pricing/api/mock_router.py
  domains/pricing/api/router.py
  domains/pricing/services/auto_listing_service.py
  domains/pricing/services/smart_pricing_service.py
  gui/src-tauri/src/api.rs
  gui/src-tauri/src/commands.rs
  gui/src-tauri/src/main.rs
  gui/src/pages/PricingForecast.tsx
  main.py
Due: eslint, prettier

Implement Predictive Inventory Insights with Forecast Engine Integration
  domains/inventory/services/predictive_insights_service.py
  domains/pricing/api/mock_router.py
  gui/src-tauri/src/api.rs
  gui/src-tauri/src/commands.rs
  gui/src-tauri/src/main.rs
Due: none

Fix Tauri GUI parameter compatibility and compilation errors
  gui/src-tauri/src/api.rs
  gui/src-tauri/src/commands.rs
  gui/src/pages/PricingForecast.tsx
Due: eslint, prettier

Complete mock data elimination and fix Tauri GUI integration
  MOCK_DATA_ELIMINATION_COMPLETE.md
  domains/pricing/models.py
  gui/.vite/deps/_metadata.json
  gui/.vite/deps/package.json
  gui/src-tauri/src/api.rs
  gui/src-tauri/src/commands.rs
  gui/src/pages/PricingForecast.tsx
  main.py
  migrations/versions/2025_08_27_1353_9233d7fa1f2a_create_pricing_and_analytics_schemas_.py
Due: eslint, prettier

Fix remaining API integration issues and complete real-data pipeline
  domains/analytics/api/router.py
  domains/analytics/services/forecast_engine.py
  shared/database/models.py
Due: none

Fix SQLAlchemy relationship mappings and resolve all API integration issues
  gui/src-tauri/tauri.conf.json
  gui/src/components/Layout.tsx
  shared/database/models.py
Due: eslint, prettier

Fix TypeScript compilation errors and restore app functionality
  domains/analytics/repositories/forecast_repository.py
  domains/analytics/services/forecast_engine.py
  gui/src/pages/Dashboard.tsx
  gui/src/pages/Inventory.tsx
  gui/src/pages/PricingForecast.tsx
  main.py
  shared/database/models.py
Due: eslint, prettier

Add comprehensive debug analysis report
  DEBUG_ANALYSIS.md
Due: prettier

Fix critical blocker: Restore forecast repository model imports
  domains/analytics/repositories/forecast_repository.py
Due: none

Fix critical blocker: Resolve syntax errors in router_backup.py
  domains/inventory/api/router_backup.py.disabled
Due: none

Fix critical blocker: Rename shared/types to avoid Python module shadowing
  .claude/settings.local.json
  domains/inventory/api/router_backup.py.bak
  shared/type_definitions/__init__.py
  shared/type_definitions/api_types.py
  shared/type_definitions/base_types.py
  shared/type_definitions/domain_types.py
  shared/type_definitions/service_types.py
  tests/fixtures/model_factories.py
Due: prettier

Fix high priority issues: Missing imports and test client references
  domains/integration/services/stockx_service.py
  domains/pricing/api/mock_router.py
  shared/utils/data_transformers.py
  tests/integration/api/test_products_api.py
Due: none

Fix E722: Replace bare except clauses with specific exceptions
  cli/awin.py
  cli/cli.py
  cli/db.py
Due: none

Fix health-check system: Repair metrics export and adjust thresholds
  shared/monitoring/health.py
  shared/monitoring/metrics.py
Due: none

Implement comprehensive Import System Stability enhancements
  domains/integration/api/upload_router.py
  domains/integration/api/webhooks.py
  domains/integration/services/import_processor.py
  domains/integration/services/stockx_service.py
  domains/inventory/services/inventory_service.py
  main.py
  shared/database/models.py
  shared/monitoring/batch_monitor.py
  shared/monitoring/batch_monitor_router.py
Due: none

Fix critical code quality issues and enhance error handling
  domains/integration/api/upload_router.py
  domains/integration/services/awin_connector.py
  domains/integration/services/parsers.py
  domains/integration/services/stockx_service.py
  shared/decorators/error_handling.py
  shared/exceptions/domain_exceptions.py
Due: none

Complete architectural improvements: Event-driven architecture, streaming processing, performance optimizations, and critical security fixes
  domains/admin/api/router.py
  domains/auth/api/router.py
  domains/integration/api/upload_router.py
  domains/integration/events/__init__.py
  domains/integration/events/handlers.py
  domains/integration/services/large_retailer_service.py
  domains/inventory/events/__init__.py
  domains/inventory/events/handlers.py
  domains/products/events/__init__.py
  domains/products/events/handlers.py
  main.py
  shared/auth/jwt_handler.py
  shared/auth/token_blacklist.py
  shared/database/models.py
  shared/events/__init__.py
  shared/events/base_event.py
  shared/events/event_bus.py
  shared/performance/__init__.py
  shared/performance/caching.py
  shared/performance/database_optimizations.py
  shared/processing/async_pipeline.py
  shared/processing/stages/__init__.py
  shared/processing/stages/retailer_stages.py
  shared/processing/streaming_processor.py
  shared/repositories/base_repository.py
Due: none

Implement comprehensive codebase cleanup with Senior Software Architect quality
  API_Quality_Assessment_Report_2025-09-13.md
  CODEBASE_CLEANUP_REPORT.md
  analyze_code_style.py
  analyze_documentation.py
  analyze_error_handling.py
  analyze_performance.py
  cleanup_imports.py
  domains/integration/api/commerce_intelligence_router.py
  fix_code_style.py
  fix_error_handling.py
  gui/src/App.tsx
  gui/src/components/Layout.tsx
  gui/src/pages/CommerceIntelligencePlatform.tsx
Due: eslint, prettier

Fix critical database performance issues - N+1 query optimizations
  cli/cli.py
  cli/db.py
Due: none

Refactor high-complexity functions using Strategy Pattern and batch operations
  cli/cli.py
  domains/integration/services/transformers.py
  domains/inventory/services/inventory_service.py
Due: none

System-wide Performance Optimization: Compile critical regex patterns
  domains/integration/services/transformers.py
  domains/integration/services/validators.py
  domains/products/services/product_processor.py
Due: none

System-wide List Operations Optimization: Replace inefficient loops with comprehensions
  domains/analytics/services/forecast_engine.py
Due: none

Path conditions:
  eslint: any of: \.tsx?$
  prettier: any of: \.(ts|tsx|js|jsx|json|css|md)$
